################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZeldaHUD/.vs/ZeldaHUD/v15
/ZeldaHUD/.vs/config
/ZeldaHUD/ZeldaHUD/obj/Debug/TempPE/ItemData.Designer.cs.dll
